.display-item {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;

  &:hover {
    text-decoration: none;
  }

  .display-grid {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    width: 200px;
    height: 200px;
    border: 1px solid black;
    color: white;
    opacity: 0.75;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}
