#new-championship-page {
  margin-bottom: 1.25rem;
  .col.submit {
    display: flex;
    justify-content: flex-end;
  }
}

.modal-content {
  background-color: var(--dark) !important;
  .close {
    color: white;
    &:hover {
      color: white;
      opacity: 0.5;
    }
  }
}
