:root {
  --gray-dropdown: #2c2f33;
}

.dropdown-menu {
  background-color: var(--gray-dropdown) !important;

  .dropdown-item {
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      background-color: var(--dark);
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

#profile-drop {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

#profile-drop + .dropdown-menu {
  right: 0;
  left: auto;

  #signout {
    border: 1px solid var(--gray-dropdown);
    &:hover {
      background-color: var(--gray-dropdown);
      color: var(--red);
      border-top: 1px solid var(--red);
      border-bottom: 1px solid var(--red);
    }
  }
}
