.championship-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  .display-item {
    width: 200px;
    height: 200px;
    // background-color: grey;
    border: 1px solid black;
  }
}
